fastapi
uvicorn
python-multipart
opencv-python-headless
numpy
scipy
librosa
soundfile
imagehash
Pillow
motor
faiss-cpu
torch
torchvision
torchaudio
transformers
python-jose[cryptography]
pydantic
aiofiles
